<?xml version="1.0" encoding="utf-8" ?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Configuration 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd" >

<configuration>
    <settings>
        <!-- 카멜 케이스 VO 매칭-->
        <setting name="mapUnderscoreToCamelCase" value="true"/>

        <!-- 쿼리 결과 필드가 null인 경우, 누락이 되서 나오지 않게 설정 (MAP) -->
        <setting name="callSettersOnNulls" value="true"/>

        <!-- 쿼리에 보내는 파라미터가 null인 경우, 오류가 발생하는 것 방지 -->
        <setting name="jdbcTypeForNull" value="NULL"/>
    </settings>


    <typeAliases>
        <typeAlias type="com.shoppingmall.shop.data.ProductDTO" alias="product"/>
        <typeAlias type="com.shoppingmall.shop.data.CategoryDTO" alias="category"/>
        <typeAlias type="com.shoppingmall.shop.data.BrandDTO" alias="brand"/>
        <typeAlias type="com.shoppingmall.shop.data.CustomerDTO" alias="customer"/>
        <typeAlias type="com.shoppingmall.shop.data.CartDTO" alias="cart"/>
        <typeAlias type="com.shoppingmall.shop.data.OrdersDTO" alias="orders"/>
        <typeAlias type="com.shoppingmall.shop.data.OrderDetailDTO" alias="orderDetail"/>
        <typeAlias type="com.shoppingmall.shop.data.ReviewDTO" alias="review"/>
        <typeAlias type="com.shoppingmall.shop.data.InquiryDTO" alias="inquiry"/>
        <typeAlias type="com.shoppingmall.shop.data.ReplyDTO" alias="reply"/>
        <typeAlias type="com.shoppingmall.shop.data.AdminDTO" alias="admin"/>
        <typeAlias type="com.shoppingmall.shop.data.FavoriteDTO" alias="favorite"/>
        <typeAlias type="com.shoppingmall.shop.data.AddressDTO" alias="address"/>
    </typeAliases>

</configuration>
