<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.shoppingmall.shop.mapper.CustomerMapper">

    <!-- 회원 가입 -->
    <insert id="insertCustomer" parameterType="com.shoppingmall.shop.data.CustomerDTO">
        INSERT INTO customer (customer_id, customer_name, email, password, phone_number, gender)
        VALUES (#{customerId}, #{customerName}, #{email}, #{password}, #{phoneNumber}, #{gender})
    </insert>

    <!-- 회원ID로 회원 정보 가져오기-->
    <select id="getCustomerById" resultType="com.shoppingmall.shop.data.CustomerDTO">
        SELECT *
        FROM customer
        WHERE customer_id = #{customerId}
    </select>

    <!-- 회원의 주소 정보 저장-->
    <insert id="addAddress" parameterType="com.shoppingmall.shop.data.AddressDTO">
        INSERT INTO customer_address (customer_id, recipient_name, postal_code, address, address_details,
                                      recipient_phone_number, delivery_request, default_address)
        VALUES (#{customerId}, #{recipientName}, #{postalCode}, #{address}, #{addressDetails}, #{recipientPhoneNumber},
                #{deliveryRequest}, #{defaultAddress})
    </insert>

    <!-- 주소 번호로 상세 정보-->
    <select id="getAddressById" resultType="com.shoppingmall.shop.data.AddressDTO">
        SELECT *
        FROM customer_address
        WHERE addrno = #{addrno}
    </select>

    <!-- 주소 수정-->
    <update id="updateAddress" parameterType="com.shoppingmall.shop.data.AddressDTO">
        UPDATE customer_address
        SET recipient_name=#{recipientName},
            postal_code=#{postalCode},
            address=#{address},
            address_details=#{addressDetails},
            recipient_phone_number=#{recipientPhoneNumber},
            delivery_request=#{deliveryRequest},
            default_address=#{defaultAddress}
    </update>

</mapper>