<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.shoppingmall.shop.mapper.FavoriteMapper">

    <!-- 상품 찜 하기 -->
    <insert id="addFavorite" parameterType="com.shoppingmall.shop.data.InquiryDTO">
        INSERT INTO favorite(customer_id, pno)
        VALUES (#{customerId}, #{pno})
    </insert>

    <!-- 상품 찜 삭제 -->
    <delete id="deleteFavorite" parameterType="com.shoppingmall.shop.data.InquiryDTO">
        DELETE
        FROM favorite
        WHERE customer_id = #{customerId}
          AND fno = #{fno}
    </delete>

    <!-- 찜 상품 목록 -->
    <select id="getFavoriteList" resultType="com.shoppingmall.shop.data.FavoriteDTO">
        SELECT *
        FROM favorite
        WHERE customer_id = #{customerId}
    </select>

</mapper>
