<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.shoppingmall.shop.mapper.ReplyMapper">

    <!-- 답변 등록 -->
    <insert id="addReply" parameterType="com.shoppingmall.shop.data.ReplyDTO">
        INSERT INTO reply(admin_id, reply_type, response_id, content)
        VALUES (#{adminId}, #{replyType}, #{responseId}, #{content})
    </insert>

    <!-- 답변 수정 -->
    <update id="updateReply" parameterType="com.shoppingmall.shop.data.ReplyDTO">
        UPDATE reply
        SET content=#{content}
        WHERE rpno = #{rpno}
    </update>

    <!-- 답변 삭제 -->
    <delete id="deleteReply" parameterType="com.shoppingmall.shop.data.ReplyDTO">
        DELETE FROM reply WHERE rpno=#{rpno}
    </delete>

    <!-- 답변 목록-->
    <select id="getReplyList" resultType="com.shoppingmall.shop.data.ReplyDTO">
        SELECT * FROM reply
    </select>

</mapper>