<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.shoppingmall.shop.mapper.ReviewMapper">

    <!-- 리뷰 등록 -->
    <insert id="addReview" parameterType="reply">
        INSERT INTO review (customer_id, pno, rating, content)
        VALUES (#{customerId}, #{pno}, #{rating}, #{content})
    </insert>

    <!-- 내 리뷰 목록 가져오기-->
    <select id="getReviewList" resultType="reply">
        SELECT * FROM review WHERE customer_id=#{customerId}
    </select>

    <!-- 리뷰 수정 -->
    <update id="updateReview" parameterType="reply">
        UPDATE review
        SET rating=#{rating},
            content=#{content}
        WHERE rno = #{rno}
    </update>

    <select id="getReviewById" resultType="reply">
        SELECT *
            FROM review
        WHERE rno=#{rno}
    </select>

</mapper>